# =========================
# PYTHON
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# DJANGO
# =========================
db.sqlite3
staticfiles/
media/

# =========================
# ENV FILES
# =========================
.env
.env.*

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log